@font-face{
    font-family: 'Roboto-Black';
    src: url(../fonts/Roboto-Black_0.ttf);
}
@font-face{
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto-Bold_0.ttf);
}
@font-face{
    font-family: 'Roboto-Light';
    src: url(../fonts/Roboto-Light_0.ttf);
}
@font-face{
    font-family: 'Roboto-Medium';
    src: url(../fonts/Roboto-Medium_0.ttf);
}
@font-face{
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular_0.ttf);
}
@font-face{
    font-family: 'Roboto-Thin';
    src: url(../fonts/Roboto-Thin_0.ttf);
}
