* {
	margin: 0;
	padding: 0;
}
html,body {
	height: 100%;
}
body {
	background-color: #f5f5f5;
}
.container {
	max-width: 1280px; 
    margin: 0 auto;
	padding: 0 15px;
 }
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.btn-violet {
    cursor: pointer;
    background-color: #cb89d7;
    color: white;
    border-radius: 12px;
    box-shadow: 0 3px 3px #9b4ea9;
    border: 0;
    outline: 0;
}
.btn-violet:hover,
.btn-violet:active {
    background-color: #9b4ea9;
}
img {
    width: 100%;
}
.wrap {
	background-color: white;
	min-height: 100%; 
	position: relative;
}	
.main {
	display: flex;
}
.leftcol {
	flex-basis: 23%;
    padding: 0 1.6%;
}
.centercol {
	overflow: hidden;
    flex-basis: 74%;
    padding: 23px 20px 0 0;
    color: #000;
}
.footer {
	width: 100%;
	background-color: #cb89d7;
	position: absolute; 
	bottom: 0;
}
.empty {
    padding-bottom: 400px;
}
                                                /*Шапка*/
.header {
	background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    min-height: 240px;
    box-shadow: 0 3px 7px rgba(0,0,0,0.1);
}
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.logo {
    display: block;
}
.logo h6 {
    font: 14px/28px Roboto-Regular;
    color: #9162a4;
}
.contacts {
    text-align: center;
}
.contacts a {
    display: block;
    font: 24px/40px Roboto-Regular;
    color: #000;
}
.contacts button {
    background-image: url(../img/icon-call.png);
    background-repeat: no-repeat;
    background-position: 15px center;
    height: 40px;
    width: 190px;
    font: 16px/40px Roboto-Regular;
    padding-left: 30px;
    margin-top: 10px;
}
.callback_form {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/black.png);
    display: none;
}
.callback_form div {
    display: inline-block;
    margin: 15% auto 0;
    padding: 25px 20px;
    background: white;
    border-radius: 12px;
    position: relative;
}
.callback_form input {
    display: block;
    background: #f4e1f7;
    font: 16px/22px Roboto-Light;
    color: #000;
    border-radius: 12px;
    border: 0;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 10px;
    height: 38px;
}
.callback_form button {
    margin-top: 0;
}
.callback_close {
    position: absolute;
    top: -8px;
    right: 6px;
    cursor: pointer;
}
.basket {
    background: #f4e1f7;
    border-radius: 12px;
    font: 18px/30px Roboto-Regular;
    color: #000;
    padding-right: 15px;
}
.basket button {
    position: relative;
    background-image: url(../img/icon-basket.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 80px;
    width: 80px;
    font: 16px/38px Roboto-Regular;
    vertical-align: text-bottom;
}
.basket button span {
    position: absolute;
    top: -20px;
    left: 60px;
    display: block;
    border-radius: 50%;
    border: 1px solid #9d52ab;
    width: 38px;
    background: white;
    color: #000;
}
.basket p {
    display: inline-block;
    vertical-align: super;
    padding-left: 10px;
}
.menuToggle {
    cursor: pointer;
    background-color: #cb89d7;
    border-radius: 12px;
    box-shadow: 0 3px 3px #9b4ea9;
    display: none;
}
.menuToggle img {
    text-align: center;
    padding: 24px 20px;
    object-fit: contain;
    width: 40px;
}
.menuToggle:hover {
    background-color: #9b4ea9;
}
.header-top + hr {
    width: 100%;
    border:0;
    background: #cb89d7;
    height: 1px;
    margin-top: 37px;
}
/*Меню*/
.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 20px;
    position: relative;
}
.header-menu ul li {
    display: inline-block;
    vertical-align: bottom;
}
.header-menu ul li a {
    text-transform: uppercase;
    font: 18px/40px Roboto-Light;
    color: #000;
    margin-right: 23px;
}
.header-menu ul li a:hover,
.header-menu ul li a:active {
    color: #9b4ea9;
}
.header-menu form {
    position: relative;
}
.header-menu input {
    background: #f4e1f7;
    font: 16px/22px Roboto-Light;
    color: #000;
    border-radius: 12px;
    border: 0;
    outline: 0;
    width: 295px;
    height: 44px;
    padding-left: 70px;
}
.header-menu input::placeholder {
    text-align: right;
    padding-right: 20px;
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
.header-menu form button {
    position: absolute;
    top: 0;
    left: 2px;
    height: 41px;
    width: 54px;
    background-image: url(../img/icon-search.png);
    background-repeat: no-repeat;
    background-position: center center;
}
/*Слайдер*/
.slider {
    background-color: #fdf2ff;
    box-shadow: 0 3px 7px rgba(0,0,0,0.1);
    position: relative;
}
.owl-prev {
	background: url("../img/owl-dots.png") no-repeat -3px -2px;
    width: 63px;
	height: 60px;
	position: absolute;
	top: 50%;
	left: 30px;
}	
.owl-next {
	background: url("../img/owl-dots.png") no-repeat -66px -2px;
	width: 63px;
	height: 60px;
	position: absolute;
	top: 50%;
	right: 30px;
}	
/*Основная часть*/
.content {
    background-image: url(../img/content-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
/*Категории*/
.leftcol h2 {
    background-color: #cb89d7;
    text-align: center;
    color: white;
    border-radius: 12px;
    box-shadow: 0 3px 3px #9b4ea9;
    font: 16px/40px Roboto-Regular;
    position: relative;
    z-index: 1;
    width: 100%;
    box-sizing: border-box;
    text-transform: uppercase;
}
.categories {
    padding: 24px 0 50px;
}
.categories h2 {
    background-image: url(../img/icon-categories.png);
    background-repeat: no-repeat;
    background-position: 28% center;
}
.hide, .hide + label + ul {
    display: none;
}
.hide + label {
    display: block;
    width: 100%;
    box-sizing: border-box;
    background-color: #f4e1f7;
    padding-left: 27px;
    font: 16px/40px Roboto-Light;
    color: #000;
    background-image: url(../img/icon-plus.png);
    background-repeat: no-repeat;
    background-position: 90% center;
    cursor: pointer;
    border-bottom: 1px solid #cb89d7;
    height: 41px;
    overflow: hidden;
}
.hide + label:hover,
.hide:checked + label {
    color: #9b4ea9;
}
.hide + label + ul {
    list-style-image: url(../img/icon-submenu.png);
    list-style-position: inside;
}
.hide + label + ul li {
    padding-left: 27px;
    height: 40px;
    overflow: hidden;
} 
.hide + label + ul li:last-child {
    border-radius: 0 0 12px 12px;
}
.hide + label + ul li a {
    font: 16px/40px Roboto-Light;
    color: #010101;
    vertical-align: middle;
}
.hide + label + ul li a:hover {
    text-decoration: underline;
}
.hide:checked + label + ul {
    display: block;
} 
.hide:checked + label {
    background-image: url(../img/icon-minus.png);
    border-radius: 0 0 12px 12px;
    border: 0;
}
/*Распродажа, Рекомендуем, Идеи подарков*/
.sale, .recommed, .ideas, .article {
    border-left: 1px solid #9b4ea9;
    border-bottom: 1px solid #9b4ea9;
    border-right: 1px solid #9b4ea9;
    border-radius: 0 0 12px 12px;
    position: relative;
    padding-top: 52px;
    margin-bottom: 50px;
}
.sale h2, .recommed h2, .ideas h2, .article h2 {
    width: 101%;
    position: absolute; 
    top: -10px;
    left: -1px;
}
.sale-item, .recommed-item, .idea-item, .article-item {
    display: flex;
    padding: 0 7px 20px 10px;
}
.sale-item img, .recommed-item img, .idea-item img {
    width: 92px;
    height: 80px;
    object-fit: cover;
}
.sale-item p, .recommed-item p, .idea-item p, .article-item p {
    font: 16px/20px Roboto-Regular;
    color: #000;
    padding-left: 10px;
    height: 80px;
    overflow: hidden;
}
.sale-item:hover p, .recommed-item:hover p, .idea-item:hover p, .article-item:hover p {
    text-decoration: underline;
}
.article {
    padding-top: 32px;
}
.article-item {
    padding: 20px 7px 20px 10px;
    border-radius: 0 0 12px 12px;
    box-shadow: 0 3px 16px rgba(0,0,0,0.13);
}
.article-item span {
    display: block;
    text-align: center;
    width: 76px;
    height: 40px;
    font: 16px/20px Roboto-Regular;
    color: #000;
}
.article-item p {
    border-left: 1px solid #9b4ea9;
    height: 40px;
    flex-basis: 178px;
}
                                    /*Виджеты соцсетей*/
.widget {
    margin: 0 auto 50px;
}

/*Центральная колонка*/
.centercol h1 {
    font: 22px/40px Roboto-Regular;
    text-align: center;
    margin-bottom: 35px;
}
.centercol h6 {
    font: 14px/20px Roboto-Light;
    margin-bottom: 20px;
    padding-left: 10px;
}
/*Карточка товара*/
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: -20px;
}
.block-item {
    display: block;
    flex-basis: 31%;
    text-align: center;
    background: #f3f3f3;
    margin: 0 20px 20px 0;
}
.block-item .image {
    height: 200px;
    object-fit: cover;
}
.block-item p {
    font: 16px/20px Roboto-Light;
    margin: 20px 0;
    height: 40px;
    overflow: hidden;
}
.block-item .rate {
    height: 22px;
    width: auto;
}
.block-item span {
    display: block;
    margin: 20px 0;
    font: 24px/20px Roboto-Regular;
}
.block-item button, .description button {
    background-image: url(../img/icon-basket2.png);
    background-repeat: no-repeat;
    background-position: 22% center;
    width: 190px;
    height: 40px;
    font: 16px/40px Roboto-Regular;
    padding-left: 20px;
}
.block-item a:last-child {
    display: block;
    font: 16px/40px Roboto-Regular;
    color: #000;
    margin: 20px 0 40px;
}
.block-item a:hover {
    text-decoration: underline;
}
/*Пагинация*/
.pagination {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
.pagination a {
    display: inline-block;
    font: 24px/40px Roboto-Regular;
    color: #000;
    margin-right: 10px;
    border-bottom: 1px solid transparent;
}
.pagination .active {
    border-bottom: 1px solid #9b4ea9;
}
/*Ссылки*/
.links {
    margin-bottom: 40px;
}
.link-item {
    margin-bottom: 20px;
}
.link-item h3 {
    font: 18px/20px Roboto-Regular;
    color: #000;
    margin-bottom: 20px;
}
.link-item a {
    font: 16px/20px Roboto-Light;
    color: #9b4ea9;
    text-decoration: underline;
}
.link-item a:hover {
    color: #000;
}
                                                /*Подвал*/
.footer-menu ul {
    display: flex;
    justify-content: space-around;
    padding: 20px 0 40px;
}
.footer-menu ul li a {
    text-transform: uppercase;
    font: 18px/40px Roboto-Regular;
    color: white;
}
.footer-menu ul li a:hover {
    text-decoration: underline;
}
.custom {
    display: flex;
    justify-content: center;
}
.custom a {
    display: block;
    margin-right: 17px;
}
.social {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
.social a {
    margin-right: 3px;
    display: block;
    width: 40px;
    height: 40px;
}
.social a:nth-child(1) {
    background: url(../img/social.png) no-repeat 0px 0px;
}
.social a:nth-child(2) {
    background: url(../img/social.png) no-repeat -42px 0px;
}
.social a:nth-child(3) {
    background: url(../img/social.png) no-repeat -83px 0px;
}
.social a:nth-child(4) {
    background: url(../img/social.png) no-repeat -125px 0px;
}
.social a:nth-child(5) {
    background: url(../img/social.png) no-repeat -168px 0px;
}
.social a:nth-child(6) {
    width: 34px;
    background: url(../img/social.png) no-repeat -210px 0px;
}
.social a:hover {
    box-shadow: 0 2px 2px rgba(0,0,0,0.8);
}
.subscribe {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.subscribe button {
    text-transform: uppercase;
    font: 18px/40px Roboto-Regular;
    color: white;
    margin-right: 22px;
    border:0;
    outline: 0;
    background: transparent;
    cursor: pointer;
}
.subscribe button:hover {
    text-decoration: underline;
}
.subscribe input {
    width: 295px;
    border-radius: 14px;
    border: 0;
    outline: 0;
    padding-left: 24px;
    font: 18px/40px Roboto-Regular;
    color: #000;
}
.subscribe input::placeholder {
    color: #000;
}
.copy {
    padding: 20px 0;
    position: relative;
    text-align: center;
    font: 18px/40px Roboto-Light;
    color: white;
}
.copy a {
    position: absolute;
    right:0;
    color: white;
}
                                            /*Категории*/ 
.breadcrumbs {
    margin-bottom: 20px;
}
.breadcrumbs a {
    font: 14px/20px Roboto-Light;
    color: #000;
}
.breadcrumbs a:hover,.breadcrumbs a:active {
    color: #9b4ea9;
}
.breadcrumbs a::after {
    content: "/";
    padding-left: 4px;
    vertical-align: text-bottom;
}
.breadcrumbs a:last-child:after {
    content: "";
}
.sort {
    margin-bottom: 40px;
    font: 14px/40px Roboto-Light;
}
select {
    border: 1px solid #dadada;
    outline: 0;
    margin-left: 20px;
    margin-right: 13%;
    padding-left: 15px;
    color: #000;
    width: 225px;
    height: 40px;
    -webkit-appearance: none;
    background-color: white;
    background-image: url('../img/select-arrow.png');
    background-position: 93% center;
    background-repeat: no-repeat;
    font: 14px/40px Roboto-Light;
    /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px; 
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none!important;
    cursor: pointer;
}
select::-ms-expand {
  display: none;
}
select option {
    outline: 0;
    border: 0;
}
.count_to_page {
    width: 127px;
    background-position: 90% center;
    margin-right: 0;
}
                                    /*Текст в категориях*/
.text {
    margin-bottom: 40px;
}
.text p {
    font: 16px/20px Roboto-Light;
    color: #000;
    text-align: justify;
}
.text .bold {
    font: 16px/20px Roboto-Regular;
    text-align: center;
    margin-bottom: 20px;
}
.text .violet {
    font: 16px/20px Roboto-Regular;
    color: #9b4ea9;
    text-align: center;
    margin: 20px 0;
}
                                        /*Доставка*/ 
.centercol h2 {
    font: 36px/46px Roboto-Regular;
    margin-bottom: 2%;
}
.centercol .map {
    text-align: center;
}
.centercol .map img {
    width: 70%;
}
.centercol h4 {
    font: 30px/40px Roboto-Regular;
    margin: 40px 0;
    text-align: center;
}
.delivery {
    margin-bottom: 40px;
}
.delivery p {
    font: 16px/20px Roboto-Light;
    margin: 20px 0;
}
.delivery .violet {
    font-family: Roboto-Regular;
    color: #9b4ea9;
    margin: 20px 0;
}
.delivery .violet2 {
    text-decoration: underline;
    text-decoration-skip: none;
    text-decoration-skip-ink: none;
    -weblit-text-decoration-skip: none;
}
.delivery .bold24 {
    font: 24px/40px Roboto-Regular;
    margin: 20px 0;
    text-align: center;
}
.delivery .bold16 {
    font: 16px/20px Roboto-Regular;
    margin: 20px 0;
    text-align: center;
    text-decoration: underline;
    text-decoration-skip: none;
    text-decoration-skip-ink: none;
    -weblit-text-decoration-skip: none;
}
.delivery .bold {
    font: 16px/20px Roboto-Regular;
    margin: 20px 0;
}
.delivery p .red {
    font-family: Roboto-Regular;
    color: #d50000;
}
.delivery p .black {
    font-family: Roboto-Regular;
    color: #000;
}
.delivery ul li {
    font: 16px/20px Roboto-Light;
    margin-bottom: 20px;
    padding-left: 20px;
    background: url(../img//list-image.png) no-repeat left center;
}
.attention {
    border-radius: 12px;
    border: 1px solid #9b4ea9;
    padding: 20px;
}
.attention h1 {
    font: 30px/40px Roboto-Regular;
    text-align: left;
    padding: 10px 0 10px 80px;
    text-transform: uppercase;
    margin-bottom: 0;
    background: url(../img/attention.png) no-repeat left center;
}
.attention a {
    color: #9b4ea9;
}
.attention p {
    font: 18px/20px Roboto-Light;
}
                                    /*Карточка товара*/
.product_card h2 {
    font: 24px/30px Roboto-Regular;
}
.product_item {
    display: flex;
    flex-wrap: wrap;
}
.product_item .image {
    flex-basis: 54%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product_item .image a {
    outline: 0;
    flex-basis: 31%;
    height: 160px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.product_item .image a img {
    height: 160px;
    object-fit: cover;
}
.product_item .image a:first-child {
    flex-basis: 100%;
    height: 400px;
    margin-bottom: 20px;
    margin-right: 0;
}
.product_item .image a:first-child img {
    height: 400px;
}
.product_item .image a:nth-child(4) {
    margin-right: 0;
}
.product_item .description {
    flex-basis: 41%;
    margin-left: 20px;
    padding-bottom: 10px;
}
.description .rate {
    text-align: right;
}
.description .rate img {
    height: 20px;
    width: auto;
}
.description .factory {
    margin: 20px 0 0;
    font: 14px/30px Roboto-Regular;
    color: #5e5e5e;
}
.description .choice {
    margin: 20px 0 35px;
    width: 190px;
}
.description .price {
    font: 16px/30px Roboto-Regular;
}
.description .price span {
    font: 30px/40px Roboto-Medium;
}
.description .stock {
    font: 16px/30px Roboto-Light;
    margin: 40px 0;
}
.description .stock span {
    font-family: Roboto-Regular;
}
.description input[type="number"] {
    width: 57px;
    font: 18px/38px Roboto-Regular;
    outline: 0;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    text-align: center;
    margin-right: 9%;
    vertical-align: middle;
}
.description input[type="number"]::-webkit-outer-spin-button,
.description input[type="number"]::-webkit-inner-spin-button,
table td input[type="number"]::-webkit-outer-spin-button,
table td input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.description input[type="number"], table td input{
    -moz-appearance: textfield; /*убрать стрeлки в Mozilla*/
}
.tabs {
    flex-basis: 100%;
    margin-top: 8%;
}
.tabs section {
	display: none;
	padding: 20px;
	border-radius: 12px;
    border: 1px solid #e6e6e6;
    position: relative;
    top: -10px;
    z-index: 1000;
    background: white;
}
.tabs input {
	display: none;
}
.tabs label {
	display: inline-block;
	padding: 15px 0 25px;
	width: 33.2%;
	text-align: center;
	font: 18px/30px Roboto-Regular;
	background: #f9f9f9;
    margin-right: -4px;
}
.tabs label:hover {
	cursor: pointer;
}
.tabs input:checked+label {
	border: 1px solid #fff;
	background: white;
    border: 1px solid #e6e6e6;
    border-radius: 12px 12px 0 0;
    border-bottom: 0;
}
#tab1:checked~#content-tab1, #tab2:checked~#content-tab2, #tab3:checked~#content-tab3, #tab4:checked~#content-tab4 {
	display: block;
}
.tabs section p {
    font: 14px/20px Roboto-Light;
}
.tabs section .violet {
    color: #9b4ea9;
    margin: 20px 0;
}
.tabs section .bold {
    font-family: Roboto-Regular;
}
.tabs section p span {
    text-decoration: underline;
}
.review h2 {
    font: 18px/20px Roboto-Regular;
}
.review p {
    font: 16px/20px Roboto-Regular;
    margin-bottom: 20px;
}
.review input, .review textarea {
    display: block;
    width: 51%;
    height: 40px;
    border: 1px solid #b4b4b4;
    outline: 0;
    border-radius: 12px;
    font: 16px/20px Roboto-Regular;
    margin-bottom: 20px;
    padding-left: 15px;
    box-sizing: border-box;
}
.review input::placeholder, .review textarea::placeholder {
    font: 14px/20px Roboto-Light;
    color: #b4b4b4;
}
.review textarea {
    height: 180px;
    padding-top: 15px;
    resize:none;
}
.review select {
    margin-bottom: 10px;
}
.review button {
    width: 190px;
    font: 16px/40px Roboto-Regular;
    margin-top: 10px;
}
                                        /*Контакты*/ 
.contacts-block h3 {
    color: #9b4ea9;
    text-align: center;
    margin: 2% 0 0;
    font: 24px/30px Roboto-Regular;
}
.contacts-block h4 {
    font: 18px/20px Roboto-Light;
    text-align: center;
    margin: 0 0 4%;
}
.contacts-info {
    display: flex;
    justify-content: space-between;
}
.contacts-info .left {
    flex-basis: 43%;
}
.contacts-info .left p {
    font: 16px/20px Roboto-Regular;
    margin-bottom: 7%;
}
.contacts-info .left .bold {
    font: 24px/40px Roboto-Regular;
    margin-bottom: 0;
    display: block;
    color: #000;
}
.contacts-info .left .light {
    font: 16px/20px Roboto-Light;
    margin: 8% 0 5%;
}
.contacts-info .left .bold16 {
    font: 16px/20px Roboto-Regular;
    margin: 20px 0;
}
.contacts-info .map-container {
    width: 505px;
}

.feedback {
    margin: 6% 0;
}
.feedback p {
    font: 18px/20px Roboto-Regular;
    margin-bottom: 20px;
}
.feedback .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.feedback .form input,
.feedback .form textarea {
    width: 49%;
    height: 40px;
    border: 1px solid #b4b4b4;
    outline: 0;
    border-radius: 12px;
    font: 14px/20px Roboto-Light;
    margin-bottom: 2%;
    padding-left: 15px;
    box-sizing: border-box;
}
.feedback .form input::placeholder,
.feedback .form textarea::placeholder {
    font: 14px/20px Roboto-Light;
    color: #b4b4b4;
}
.feedback .form textarea {
    height: 180px;
    padding: 15px 15px 0;
    width: 100%;
    resize:none;
}
.feedback .form select {
    flex-basis: 49%;
    margin: 0;
    border: 1px solid #b4b4b4;
    border-radius: 12px;
    background-color: #f8f8f8;
    cursor: pointer;
}
.feedback .form button {
    width: 190px;
    font: 16px/40px Roboto-Regular;
    margin: 35px auto 10px;
}
.partners .partners-item {
    display: inline-block;
    margin-right: 20px;
    color: #000;
}
.partners .partners-item:hover p {
    text-decoration: underline;
}
.partners p {
    font: 18px/20px Roboto-Regular;
    margin-bottom: 20px;
}
.partners img {
    width: 190px;
    height: 200px;
    object-fit: cover;
}
.partners .light {
    font: 14px/20px Roboto-Light;
    width: 190px;
    text-align: center;
    margin-top: 20px;
}
                                /*Корзина и заказ*/
.order h2 {
    display: none;
}
.order .delivery-price {
    margin: 20px 0;
    font: 16px/20px Roboto-Light;
}
table {
    border: 1px solid #e6e6e6;
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
}
table tr {
    border: 1px solid #e6e6e6;
    font: 14px/20px Roboto-Regular;
}
table th,
table td {
    padding: 1.3% 0.5%;
    text-align: center;
    border: 1px solid #e6e6e6;
}
table td {
    padding: 4% 2%;
}
table td.image img {
    width: 140px;
    height: 140px;
    object-fit: cover;
}
table td.name {
    text-align: left;
    vertical-align: baseline;
    width: 210px;
}
table td .light {
    font: 13px/20px Roboto-Light;
    margin-top: 20px;
}
table td.price {
    white-space: nowrap;
}
table td input {
    width: 40px;
    font: 16px/30px Roboto-Regular;
    outline: 0;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
}
table td .delete {
    display: block;
    width: 18px;
    height: 22px;
    margin: 0 auto;
    cursor: pointer;
    background: url(../img/icon-delete.png) no-repeat 0 0;
}
.total {
    display: flex;
    justify-content: flex-end;
}
.total div {
    margin-right: 6%;
}
.total div:last-child {
    margin-right: 0;
}
.total div p {
    font: 18px/20px Roboto-Regular;
    margin: 20px 0;
}
.order-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
}
.order-footer a {
    font: 16px/20px Roboto-Regular;
    color: #9b4ea9;
}
.order-footer a::before {
    content: url(../img/icon-back.png);
    margin-right: 10px;
}
.order-footer button, .discount button {
    width: 190px;
    height: 40px;
    font: 16px/20px Roboto-Regular;
}
.discount {
    display: flex;
    align-items: center;
    margin-top: 6%;
}
.discount p {
    font: 16px/20px Roboto-Regular;
    margin-right: 2%;
}
.discount input {
    outline: 0;
    border: 1px solid #cdcdcd;
    font: 16px/20px Roboto-Regular;
    max-width: 295px;
    width: 295px;
    margin-right: 2%;
    height: 40px;
    padding-left: 10px;
}
.order .attention {
    margin-top: 6%;
    text-align: center;
}
.order .attention p {
    font: 16px/40px Roboto-Regular;
    margin: 0;
}
.order .attention .bold {
    font: 24px/40px Roboto-Regular;
    margin-top: 6%;
}



                                     /*Адаптив 1170*/ 
@media (max-width: 1170px) {
    .header-menu {
        flex-wrap: wrap;
    }
    .header-menu form {
        margin: 10px 0;
    }
    .leftcol {
        flex-basis: 30%;
    }
    .centercol h1 {
        margin-bottom: 10px;
    }
    .block-item {
        flex-basis: 46%;
    }
    .categories h2 {
        background-position: 20% center;
    }
    .hide + label {
        padding-left: 10px;
    }
    .empty {
        padding-bottom: 480px;
    }
    .description input[type="number"] {
        margin-right: 2%;
    }
    .review input, .review textarea {
        width: 100%;
    }
    table td {
        padding: 4% 1.5%;
    }
}
                                    /*Адаптив 1030*/ 
@media (max-width: 1030px) {
    .contacts {
        display: none;
    }
    .owl-prev, .owl-next {
        top: 40%;
    }
    .footer-menu ul {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footer-menu ul li {
        flex-basis: 33%;
    }
    select {
        margin-right: 10%;
    }
}
                                    /*Адаптив 992*/ 
@media (max-width: 992px) {
    .header-top {
        padding: 0;
    }
    .basket {
        font-size: 15px;
        padding: 0;
    }
    .menuToggle {
        display: block;
        margin-left: 20px;
    }
    .header-menu {
        display: block;
        padding: 11px 0;
    }
    .header-menu ul {
        width: 100%;
        position: absolute;
        z-index: 1000;
        top: 20px;
        left:0;
        display: none;
        background: #f4e1f7;
        border-radius: 12px;
    }
    .header-menu ul li {
        display: block;
        text-align: center;
    }
    .header-menu input {
        width: 100%;
    }
    .main {                        
        flex-wrap: wrap;
    }
    .leftcol {
        order: 2;
        flex-basis: 100%;
        padding: 0;
    }
    .centercol {
        order: 1;
        flex-basis: 100%;
        padding: 0;
    }
    .centercol h1 {
        margin: 20px 0;
    }
    .centercol h6 {
        display: none;
    }
    .block-item {
        flex-basis: 47%;
    }
    .block-item .image {
        height: 240px;
    }
    .categories h2 {
        background-position: 40% center;
    }
    .hide + label {
        padding-left: 27px;
    }
    .sale h2, .recommed h2, .ideas h2, .article h2 {
       left: -4px;
    }
    .sale-item img, .recommed-item img, .idea-item img {
        width: auto;
        height: 140px;
        flex-basis: 35%;
    }
    .sale-item p, .recommed-item p, .idea-item p, .article-item p {
        flex-basis: 60%;
        padding-left: 20px;
        height: 140px;
    }
    .article-item span {
        width: 35%;
    }
    .breadcrumbs {
        margin: 20px 0;
    }
    .text {
        display: none;
    }
    
}
                                    /*Адаптив 845*/
@media (max-width: 845px) {
    .basket {
        background: 0;
    }
    .basket p {
        display: none;
    }
    .basket button {
        top: 3px;
    }
}
                                    /*Адаптив 768*/
@media (max-width: 768px) {
    .header {                 
        min-height: 215px;
    }
    .header-top {
        padding-top: 20px;
    }
    .logo h6 {
        display: none;
    }
    .header-top + hr {
        display: none;
    }
    .block-item p {
        margin: 20px 10px;
    }
    .pagination a {
        margin: 0 10px;
    }
    .empty {
        padding-bottom: 540px;
    }
    .custom, .social, .subscribe {
        justify-content: flex-start;
    }
    .footer-menu ul li {
        flex-basis: 50%;
    }
    .subscribe {
        flex-wrap: wrap;
    }
    .copy {
        text-align: left;
    }
    select {
        margin-right: 10px;
    }
    .product_item .image {
        flex-basis: 100%;
    }
    .product_item .description {
        flex-basis: 100%;
    }
    .description .price {
        display: inline-block;
        margin-left: 6%;
    }
    .description .stock {
        margin: 0 0 30px;
    }
    .tabs label {
        font-size: 16px;
    }
    .order h2 {
        display: block;
    }
    table {
        border: 0;
    }
    table thead {
        display: none;
    }
    table tr {
        display: block;
        margin-bottom: 20px;
        font: 16px/30px Roboto-Regular;
    }
    table td {
        display: block;
        text-align: right;
        padding: 3% 1.5%;
    }
    table td:before {
        content: attr(aria-label);
        float: left;
    }
    table td.image {
        text-align: center;
    }
    table td.image img {
        width: auto;
        height: 140px;
    }
    table td.name {
        text-align: right;
        width: inherit;
    }
    table td input {
        width: 80px;
        font-size: 18px;
    }
}
                                    /*Адаптив 695*/
@media (max-width: 695px) {
    .block-item {
        flex-basis: 46%;
    }
    .contacts-info {
        flex-wrap: wrap;
    }
    .contacts-info .left {
        flex-basis: 100%;
    }
    .contacts-info .map-container {
        width: 100%;
    }
    .contacts-info .left p {
        margin-bottom: 3%;
    }
    .contacts-info .left .light {
        margin: 3% 0 4%;
    }
}
                                    /*Адаптив 630*/
@media (max-width: 630px) {
    .sort {
        margin-bottom: 30px;
    }
    select {
        margin-left: 0;
        width: 100%;
    }
    .count_to_page {
        width: 100%;
        background-position: 93% center;
    }
    .tabs label {
        display: block;
        padding: 15px 0;
        width: 99%;
        border: 1px solid #e6e6e6;
        border-radius: 12px 12px 0 0;
        border-bottom: 0;
    }
    .tabs section {
        top: 0;
    }
}
                                   /*Адаптив 530*/
@media (max-width: 530px) {
    .header {
        min-height: auto;
    }
    .logo {
        margin-right: 10px;
    }
    .basket {
        font: 18px/30px Roboto-Regular;
    }
    .basket button {
        top: 0;
        height: 40px;
        width: 40px;
        background-image: url(../img/icon-basket2.png);
    }
    .basket button span {
        top: -16px;
        left: 25px;
        width: 27px;
        line-height: 27px;
    }
    .menuToggle {
        background-size: contain;
        margin-left: 12px;
        height: 40px;
        width: 40px;
    }
    .menuToggle img {
        text-align: center;
        padding: 12px 10px;
        object-fit: contain;
        width: 20px;
    }
    .header-menu input {
        padding-left: 18%;
    }
    .header-menu form button {
        width: 41px;
    }
    .slider {
        display: none;
    }
    .products {
        margin-right: 0;
    }
    .centercol h1 {
        margin: 0 0 10px;
        font: 17px/25px Roboto-Regular;
    }
    .block-item {
        flex-basis: 100%;
        margin: 0 0 20px 0;
    }
    .block-item p {
        margin: 10px;
    }
    .block-item span {
        margin: 10px 0;
        font: 20px/20px Roboto-Regular;
    }
    .block-item a:last-child {
        margin: 10px 0;
    }
    .pagination {
        margin: 0 0 20px;
    }
    .empty {
        padding-bottom: 550px;
    }
    .pagination a {
        font: 20px/30px Roboto-Regular;
    }
    .links {
        margin-bottom: 20px;
    }
    .link-item h3 {
        font: 16px/20px Roboto-Regular;
    }
    .categories h2 {
        width: 100%;
        margin: 0;
        background-position: 26% center;
    }
    .sale h2, .recommed h2, .ideas h2, .article h2 {
        left: -2px;
    }
    .sale-item img, .recommed-item img, .idea-item img {
        height: 123px;
        flex-basis: 45%;
    }
    .sale-item p, .recommed-item p, .idea-item p, .article-item p {
        flex-basis: 55%;
        padding-left: 10px;
        height: 123px;
    }
    .article-item span {
        width: 45%;
    }
    .footer-menu ul {
        padding: 20px 0 20px;
    }
    .footer-menu ul li a {
        font: 15px/30px Roboto-Regular;
    }
    .custom, .social, .subscribe {
        flex-wrap: wrap;
    }
    .social {
        margin: 20px 0;
    }
    .subscribe {
        margin-bottom: 10px;
    }
    .subscribe button {
        font: 14px/40px Roboto-Regular;
    }
    .subscribe input {
        font: 16px/30px Roboto-Regular;
    }
    .copy {
        padding: 10px 0;
        font: 14px/30px Roboto-Light;
    }
    .copy a {
        position: static;
    }
    .breadcrumbs {
        display: none;
    }
    .product_card h2 {
        font: 17px/25px Roboto-Regular;
    }
    .product_item .image a:first-child {
        height: 250px;
    }
    .product_item .image a:first-child img {
        height: 250px;
    }
    .product_item .image a {
        height: 100px;
    }
    .product_item .image a img {
        height: 100px;
    }
    .product_item .description {
        margin-left: 0;
    }
    .description .factory {
        margin: 10px 0 0;
    }
    .description .choice {
        margin: 10px 0 20px;
    }
    .description .price span {
        font: 22px/30px Roboto-Medium;
    }
    .centercol h2 {
        font: 20px/30px Roboto-Regular;
    }
    .feedback .form input, .feedback .form textarea {
        width: 100%;
    }
    .feedback .form select {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .contacts-block h3, .contacts-block h4 {
        display: none;
    }
    .contacts-info .left .bold {
        font-size: 20px;
    }
    .partners {
        text-align: center;
    }
    .partners .light {
        width: 100%;
    }
    .order p {
        margin: 10px 0;
    }
    .discount {
        flex-wrap: wrap;
    }
    .discount button {
        margin: 20px 0;
    }
    .order .attention p {
        font: 16px/20px Roboto-Regular;
    }
    .order .attention .bold {
        font: 18px/30px Roboto-Regular;
    }
}
                                            /*Адаптив 400*/
@media (max-width: 420px) {  
    .menuToggle {
        width: 80px;
    }
    .product_item .image a {
        flex-basis: 30%;
    }
    .description .price {
        margin-left: 0;
    }
    .description .stock {
        margin: 10px 0;
    }
    .description input[type="number"] {
        margin-right: 6%;
    }
    .tabs label {
        font: 15px/15px Roboto-Regular;
    }
    
    
}

    
    
